<div class="kanban-container">
    <div class="header">
        <div class="search-container">
            <mat-form-field appearance="outline">
                <mat-label>search this board</mat-label>
                <input matInput (keydown.enter)="onSubmit($event)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" class="tags-container">
            <mat-label>Tags</mat-label>
            <mat-select [(value)]="selectedTag" (selectionChange)="onTagSelectChange($event)" multiple>
            <mat-option *ngFor="let tag of tags" [value]="tag">
                {{tag.text}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="columns">
        <app-kanban-column class="kanban-column"
            columnTitle="Backlog"
            [allowCreate]="true"
            (addCard)="onAddCard()"
            colour="#1C5A7C"
            [allCards]="displayedCards"
            (moveCard)="onMoveCard($event, 'backlog')"
            [cardIds]="backlogCards">
        </app-kanban-column>
        <app-kanban-column class="kanban-column"
            columnTitle="To Do"
            [allCards]="displayedCards"
            colour="#106354"
            (moveCard)="onMoveCard($event, 'toDo')"
            [cardIds]="toDoCards">
        </app-kanban-column>
        <app-kanban-column class="kanban-column"
            columnTitle="In Development"
            [allCards]="displayedCards"
            colour="#71441B"
            (moveCard)="onMoveCard($event, 'development')"
            [cardIds]="developmentCards">
        </app-kanban-column>
        <app-kanban-column class="kanban-column"
            columnTitle="Completed"
            [allCards]="displayedCards"
            colour="#54117D"
            [lastColumn]="true"
            [cardIds]="completedCards">
        </app-kanban-column>
    </div>
</div>

